# Copy to .env.local and fill in.
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# Fill in after deploying (see /contracts/scripts/deploy.js output)
NEXT_PUBLIC_EXECUTOR_ADDRESS_SEPOLIA=
NEXT_PUBLIC_ROUTER_ADDRESS_SEPOLIA=
NEXT_PUBLIC_EXECUTOR_ADDRESS_BSC_TESTNET=
NEXT_PUBLIC_ROUTER_ADDRESS_BSC_TESTNET=
